.btn {
    &:link,
    &:visited{
        text-decoration: none;
        font-size: 1.6rem;
        text-transform: capitalize;
        border-radius: 10rem;
        padding: 1.2rem 3.5rem;
        display: inline-block;
    }
    
    
    
    &--white {
        color: $color-gray;
        background: $color-white;
    }
    
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 2rem rgba($color-dark,0.2);
    }
    
    &:active {
        transform: translateY(1px);
        box-shadow: 0 .5rem 1rem rgba($color-dark,0.2);
    }
    
    &--animated{
        animation: moveInBottom 1s .7s;
        animation-fill-mode: backwards;
        transition: all .3s;
    }
    
}




